@font-face {
  font-family: "Muli";
  src: local("Muli"), url(./fonts/Muli.ttf) format("truetype");
}

body {
  margin: auto;
  max-width: 800px;
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}

.Mask {
  position: relative;
  align-items: center;
  justify-items: center;
  display: grid;
  min-width: 320px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}
