@font-face {
  font-family: "Muli";
  src: local("Muli"), url(./fonts/Muli.ttf) format("truetype");
}

body {
  margin: auto;
  max-width: 800px;
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}

h1 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

.mask {
  position: relative;
  align-items: center;
  justify-items: center;
  display: grid;
  margin-top: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  padding: 20px 0;
}

.chooseQuestion {
  display: flex;
  color: #333;
  margin-top: 20px;
  align-items: center;
}

.chooseQuestion ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
  flex-flow: wrap;
}

.chooseQuestion ul li {
  border-radius: 4rem;
  background-color: #e9eaed;
  transition: 0.3s all ease-in-out;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}

.chooseQuestion ul li:hover {
  opacity: 0.75;
}

@media (max-width: 895px) {
  body {
    max-width: 100%;
  }

  .mask {
    margin: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.5em;
  }

  .chooseQuestion {
    flex-direction: column;
  }
}
